@font-face {
    font-family: 'fontHiu';
    src: url('./MTD Valky Regular.otf');
}
body {
    --maucuachung: white;
    --bongcuachu:     
    0 2px 5px rgba(0,0,0,0.9),
    0 5px 15px rgba(0,0,0,0.8),
    0 10px 30px rgba(0,0,0,0.7);
    --hieuungsang: 0 0 10px rgba(255,255,255,0.6);
    --backgroundtype: rgba(0, 0, 0, 0.6);
    --backgroundphim2 : rgba(0, 0, 0, 0.5);
    font-family: 'fontHiu', sans-serif;
    margin: 0;
}
.preload{
    transition: none !important;
}
#classiconmode #nightmodeicon{  
    font-size: 45px;
    color: #f5f5f5;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 98;
}
#classiconmode #nightmodeicon:hover{  
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 180, 255, 0.5);
}
#classiconmode #nightmodeicon.tatnightmode{
    display: none;
}
#classiconmode #lightmodeicon{
    font-size: 45px;
    color: #000000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    display: none;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    z-index: 98;
}
#classiconmode #lightmodeicon:hover{  
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 180, 255, 0.5);
}
#classiconmode #lightmodeicon.batlightmode{
    display: block;
}
body.dark{
    --maucuachung: #000;
    --bongcuachu: 
        0 2px rgba(252, 252, 252, 0.9),
        0 5px 15px rgba(252, 252, 252, 0.8),
        0 10px 30px rgba(252, 252, 252, 0.7);
    --backgroundtype: rgba(202, 199, 199, 0.5);
    --backgroundphim2: rgba(255, 255, 255, 0.5);
}
#menu{
    width: 100%;
    height: auto;
    top: 0;  
    position: fixed;
    z-index: 99;
}
.light2{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4)),
    url(./asset/img/1313026.jpg) top/cover;
    transition: 0.3s;
}
.dark2{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.4)),
    url(./asset/img/1266336.jpg) center/cover;
    transition: 0.3s;
}
#slidemenu{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 200px;
    position: fixed;
    display: none;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}
#overload{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
#slidemenu #closemenu
{
    position: absolute;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    top: 15px;
    right: 10px;
}
#slidemenu #closemenu:hover
{
    text-shadow: 0 0 20px rgba(245, 245, 245, 0.5);
}
#slidemenu a, #slidemenu #theloai b{
    font-size: 25px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    display: block;
    text-decoration: none;
}
#slidemenu a:hover, #slidemenu #theloai b:hover{
    text-shadow: 0 0 20px rgba(245, 245, 245, 0.5);
}
#slidemenu #theloai{
    padding-right: 20px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    display: inline-block;
}
#slidemenu #theloai ul{
    display: none;
    margin: 0;
    background: var(--backgroundtype);
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    position: absolute;
    border-radius: 10%;
    left: 70px;
    top: 75px;
    transition: 0.3s;
}
#slidemenu #theloai.hientype ul
{
    display: block;
    transition: 0.3s;
}
#slidemenu #theloai li
{
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px 10px 10px;
}
#slidemenu #theloai li:hover
{
    margin: 0;
    padding: 5px 10px 10px 10px;
    background-color: aqua;
}
#menu #theloai{
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    display: inline-block;
}
#menu #theloai ul{
    display: none;
    margin: 0;
    background: var(--backgroundtype);
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    position: absolute;
    border-radius: 10%;
    left: 220px;
    top: 90px
}
#menu #theloai:hover ul
{
    display: block;
}
#menu #theloai li
{
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px 10px 10px;
}
#menu #theloai li:hover
{
    margin: 0;
    padding: 5px 10px 10px 10px;
    background-color: aqua;
}
#menu a{
    font-size: 25px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    display: inline-block;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}
#menu a:hover{
    text-shadow: 0 0 30px rgba(245, 245, 245, 0.9);
}
#menu #search
{
    display: none;
}
#menu #hoso
{
    position: fixed;
    right: 2%;
    top: 15px;
    bottom: 80%;
}
#menu #searchicon{
    position: fixed;
    top: 40px;
    right: 150px;
    font-size: 40px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
}
#menu #menuicon{
    width: 50px;
    font-size: 40px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
    right: auto;
    display: none;
}
#menu #menuicon:hover{
    text-shadow: 0 0 30px rgba(245, 245, 245, 0.9);
}
#menu #searchicon:hover{
    color: rgb(34, 199, 199);
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 0px 0px 0px 200px;
}
#menu img {
    font-size: 10px;
    margin: 0px 0px 0px 30px;
    height: 70px;
    width: 70px;
    border: 4px solid black;
    border-radius: 50%;
}

@media (max-width: 980px) {
    #menu{
        height: auto;
    }
    #menu h1{
        display: none;
    }
    #menu a{
        display: none;
    }
    #menu #searchicon
    {
        display: none;
    }
    #menu #menuicon{
        display: block;
    }
    #menu #hoso{
        top: 2px;
    }
    #menu #hoso img{
        margin-top: 10px;
        height: 40px;
        width: 40px;
        display: block;
    }
    #menu #search{
        display: none;
    }
    #menu #theloai:hover ul
    {
        left: 50px;
        top: 40px;
        display: block;
    }
    #menu #menuicon{
        margin: 0px 0px 10px 10px;
    }
    #slidemenu a{
        width: 130px;
    }
    #slidemenu{
        transform: translateX(-200%);
        display: block;
    }
    #slidemenu a, #slidemenu #theloai b{
        padding: 10px 0px 0px 0px;
        margin: 5px 0px 5px 10px;
    }
    #slidemenu.hienthislide{
        transform: translateX(0);
        transition: 0.5s ease-in-out;
    }
    #overload.hienthioverload{
        display: block;
        transition: 0.5s ease;
    }
} 
@media (max-height: 450px) {
    #menu{
        height: auto;
    }
    #menu #menuicon{
        margin: 0px 0px 10px 10px;
    }
    #menu h1{
        font-size: 18px;
        margin: 10px 0px 0px 0px;
    }
    #slidemenu a{
        width: 130px;
    }
    #menu a{
        width: 50%;
        margin: 5px 0px 5px 10px;
        left : 0;
    }
    #slidemenu{
        transform: translateX(-100%);
        display: block;
    }
    #menu i
    {
        display: none;
    }
    #menu #hoso img{
        height: 50px;
        width: 50px;
        display: block;
    }
    #slidemenu a{
        padding: 10px 0px 0px 0px;
        margin: 5px 0px 5px 10px;
    }
    #slidemenu.hienthislide{
        transform: translateX(0);
    }
    #menu #theloai:hover ul
    {
        left: 60px;
        top: 40px;
    }
    #overload.hienthioverload{
        display: block;
    }
}
@media (min-width: 3000px) {
    #menu i{
        right: 250px;
    }
}
#hoso ul{
    display: none;
    border-radius: 5%;
    margin-top: 10px;
    padding: 10px 10px 5px 5px;
    background: var(--backgroundtype);
    position: absolute;
    right: 3px;
}
#hoso li{
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 10px 10px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
}
#hoso:hover ul
{
    display: block;
}
#hoso li:hover
{
    color: black;
    background-color: aqua;
}
#gioithieu{
    font-size: 30px;
    height: 100vh;                  
    text-align: center;
    margin-top: 100px;
    color: var(--maucuachung);
    text-shadow: var(--hieuungsang);
}
#gioithieu.light1{
    background:
    radial-gradient(circle at bottom center,
         rgba(192, 33, 33, 0.5) 20%,
         transparent 60%
    ),
    linear-gradient(rgba(0, 0, 0, 0.5)),
    url("./asset/img/1313035.jpg") center/cover;
    transition: 0.5s ease;
}
#gioithieu.dark1{
    background:
    radial-gradient(circle at center,
        transparent 50%,
        rgba(0,0,0,0.9) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.3)),
    url(./asset/img/1271354.png) center/cover;
    transition: 0.5s ease;
}
#gioithieu h1{
    margin: 0;
    padding: 170px 0px 50px 0px;
}
@media (max-width: 200px) {
    #gioithieu{
        font-size: 10px;
    }
}
@media (max-width: 1000px) {
    #gioithieu{
        margin-top: 0px;
    }
}
#typephim{
    background-size: cover;
    text-align: center;
    border-top: 3px solid #f5f5f5;
}
.light3{
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(./asset/img/1313025.jpg) center;
    transition: 0.5s ease;
}
.dark3{
    background: linear-gradient(rgba(255, 255, 255, 0.7)), url(./asset/img/background2.jpg) center;
    background-position: bottom;
    transition: 0.5s ease;
}
#typephim h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding: 50px 10px 10px 10px;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
}
#typephim .phim{
    position: relative;
    font-size: 15px;
    text-align: center;
    color: black;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    width: min(350px, 90%);
    height: auto;
    margin: 20px 25px 20px 25px;
    padding: 0px 20px 0px 20px;
    transition: 0.5s;
}
#typephim .phim h4{
    background-color: rgb(240, 240, 47);
    padding: 5px 50px 5px 40px;
    border-radius: 20px;
    border: 2px solid ;
    right: 0;
    top: 40px;
    transform: rotate(35deg);
    position: absolute;
}
#typephim img{
    border: 3px solid white;
    border-radius: 5px;
    width: 90%;
    transition: 0.3s;
}
@media (max-width: 600px) {
    #typephim .phim{
        width: 60%;
    }
    #typephim .phim h4{
        font-size: 60%;
    }
}
@media (max-width: 1500px) {
    #typephim{
        text-align: center;
    }
    #typephim .phim{
        margin: 20px 40px 20px 40px;
    }
    #typephim #lich{
        text-align: left;
    }
}
#typephim .phim:hover{
    background-color: rgba(19, 18, 18, 0.5);
    color: white; 
    text-shadow: 
    0 2px 5px rgba(0,0,0,0.9),
    0 5px 15px rgba(0,0,0,0.8),
    0 10px 30px rgba(0,0,0,0.7);
    border: 1px solid rgba(0, 180, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 180, 255, 0.5);
    transition: 0.5s;
}
#typephim img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
#typephim .phim h4:hover{
    background: rgb(107, 107, 252);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#typephim #lich #banglich
{
    display: flex;
    justify-content: center;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
}
#cach hr{
    width: 50%;
}
#typephim #lich #banglich ol{
    width: min(700px,90%);
}
#typephim #lich #banglich li{
    width: min(600px,90%);
    margin: 10px 0px 10px 0px;
}
#typephim #lich #banglich li:hover{
    opacity: 1; 
    color: rgb(20, 113, 126);
    text-shadow: var(--bongcuachu);
    width: min(580px,90%);
    padding: 0px 0px 0px 20px;
}
#typephim #danhgia li{
    width: min(600px,90%);
    margin-left: 30px;
    text-align: left;
    color: var(--maucuachung);
}
#typephim #danhgia li:hover{
    opacity: 1; 
    color: rgb(20, 113, 126);
    width: min(580px,90%);
    padding: 0px 0px 0px 20px;
}
#typephim #chuy{
    text-align: center;
    color: white;
    text-shadow: 
    0 2px 5px rgba(0,0,0,0.9),
    0 5px 15px rgba(0,0,0,0.8),
    0 10px 30px rgba(0,0,0,0.7);
}
#typephim #chuy h3{
    font-size: 30px;
    border: 3px solid rgba(34, 3, 34, 0.4);
    background-color: rgb(133, 133, 233, 0.5);
}
#typephim #chuy #testdanhgia{
    top: 150px;
    position: sticky;
}
@media (max-width: 990px) {
    #typephim #chuy #testdanhgia{
        top: 80px;
        position: sticky;
    }
}
#typephim  #chuy ol{
    margin: 0;
}
#typephim  #chuy li{
    padding: 10px 0px 10px 0px;
    width: min(600px,90%);
    margin-left: 30px;
    text-align: left;
    color: var(--maucuachung);
    text-shadow: var(--bongcuachu);
}
#typephim #chuy li:hover{
    opacity: 1; 
    color: rgb(120, 233, 248);
    text-shadow: var(--bongcuachu);
    width: min(580px,90%);
    padding: 10px 0px 10px 20px;
}
#footer{
    border-top: 3px solid #f5f5f5;
    background-image: url(./asset/img/1313026.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    font-size: 12px;
    color: white;
    text-shadow: 
    0 2px 5px rgba(0,0,0,0.9),
    0 5px 15px rgba(0,0,0,0.8),
    0 10px 30px rgba(0,0,0,0.7);
}
#footer div{
    display: inline-block;
}
#footer #footerthongtin img
{
    margin-top: 10px;
    margin-left: 40%;
    display: block;
    height: 70px;
    width: 70px;
    border: 4px solid black;
    border-radius: 50%;
}
#footer #footerthongtin p{
    color: white;
    text-shadow: 
    0 2px 5px rgba(0,0,0,0.9),
    0 5px 15px rgba(0,0,0,0.8),
    0 10px 30px rgba(0,0,0,0.7);
    border-radius: 10px;
    border: 3px solid #a020f0;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
    display: inline-block;
    transition: 0.3s;
}
#footer #footerthongtin p:hover{
    color: rgb(120, 233, 248);
    background-color: rgb(0, 0, 0, 0.5);
    transition: 0.3s;
}
