body {
    margin: 0px 0px 0px 0px;
}
#menu{
    background-color: rgb(43, 41, 41);
    text-align: center;
}
#menu a:hover{
    background-color: rgb(236, 180, 180);
}
#menu a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 30px 10px 30px;
    padding: 5px 10px 5px 10px;
}
#itro{
    background-color: black;
    text-align: center;
}
#itro p{
    padding: 30px 0px 30px 0px;
    margin: 0px 0px 0px 0px;
}
#itro h1, #itro h3{
    color: white;
}
#itro:hover{
    background-color: rgb(126, 124, 124);
}
#phim{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
.phimc{
    text-align: center;
    border : 3px solid black;
    margin: 0px 40px 0px 40px;
}
.phimc:hover{
    background-color: rgb(223, 247, 247);
}
#chung{
    padding: 10px;
}
.phimc p{
    font-size: 20px;

}
.phimc img{
    border: 4px solid red;
}
#lich{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
#lichphim li{
    font-size: 18px;
    margin: 20px 0px 20px 120px;
    transition: 0.3s;
}
#lichphim li:hover{
    background-color: rgb(223, 247, 247);
    margin: 20px 0px 20px 140px;
    transition: 0.3s;
}
#danhgia{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
#danhg{
    text-align: center;
    width: 50%;
    margin: auto;
}
#danhg p{
    font-size: 20px;
    border: 3px dashed rgb(218, 97, 191);
    background-color: rgb(245, 229, 245);
    padding: 30px 10px 30px 10px;
    transition: 0.3s;
}
#danhg p:hover{
    background-color: rgb(236, 150, 201);
    transition: 0.3s;
}
#poster{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
#posterk {
    text-align: center;
    width: 50%;
    margin: auto;
}
#posterk img{
    width: 130px;
    height: 180px;
    border: 4px solid orange;
    margin: 10px 20px 10px 20px;
    transition: 0.3s;
}
.kieu1:hover {
    transform: scale(2.1);
    transition: 0.3s;
}
